[*]
charset=utf-8

# Project support

[.{clang-format,clang-uml,gitlab-ci.yml}]
end_of_line=lf
indent_style=space
indent_size=2
insert_final_newline=true

[.{editorconfig,git-blame-ignore-revs,gitattributes,gitignore,kateconfig,kateproject}]
end_of_line=lf
indent_style=tab
insert_final_newline=true

[*.json]
end_of_line=lf
indent_style=space
indent_size=4
insert_final_newline=false

# Sources

[*.{c,h}]
end_of_line=lf
indent_style=space
indent_size=4
insert_final_newline=true

[*.{am,entitlements,plist,sln}]
end_of_line=lf
indent_style=tab
insert_final_newline=true

[meson.*]
end_of_line=lf
indent_style=tab
insert_final_newline=true

[meson_options.txt]
end_of_line=lf
indent_style=tab
insert_final_newline=true

[flake.*]
end_of_line=lf
indent_style=space
indent_size=2
insert_final_newline=true
